.game-field {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.main-board {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.button-play {
  text-align: center;
  min-width: 100%;
  border-radius: 1rem;
  font-family: "Virgil";
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: black;
  background-color: #a2121a;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  color: white;
  margin-top: 2rem;
}

.warField {
  display: flex;
  gap: 1.5rem;
  margin-top: 2rem;
}

li {
  list-style-type: none;
}
.center-field {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@keyframes animationRound {
  from {
    scale: 1.5;
  }
  to {
    scale: 1;
  }
}

.showRound {
  animation: animationRound 4s ease-in-out;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-self: center;
  background-color: lightgrey;
  background-size: 20rem;
  border-radius: 2rem;
  opacity: 0.7;
}

.entire-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.button-info {
  border-radius: 1rem;
  font-family: "Virgil";
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: black;
  background-color: #a2121a;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  color: white;
  margin-bottom: 1rem;
  text-decoration: none;
}
