.game-field {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.main-board {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.button-play {
  text-align: center;
  min-width: 100%;
  background-color: white;
  border-radius: 1rem;
  font-family: "Virgil";
  box-shadow: 5px 5px 5px black;
}

.warField {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

li {
  list-style-type: none;
}
