@font-face {
  font-family: "Virgil";
  src: url(./assets/font/Virgil.woff2) format("woff2");
}

body {
  margin: 0;
  font-family: "Virgil";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background-image: url("./assets/img/background-wood.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 100vh;
}

button {
  font-size: calc(10px + 2vmin);
}

.firstMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  border: #422c24 double;
  max-width: 30rem;
  padding: 2rem;
  border-radius: 1rem;
  background-color: #ad1a1a;
}

.buttonFirstMenu {
  border: #422c24 double;
  background-color: grey;
  border-radius: 1rem;
  font-family: "Virgil";
}

.buttonFirstMenu:hover {
  background-color: lightgrey;
}

.inputFirstMenu {
  font-family: "Virgil";
  border-radius: 1rem;
  text-align: center;
  font-size: 2rem;
  border: #422c24 solid;
}
