body {
  padding: 0;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/**Navbar**/

.navbar_nav {
  background-color: #422c24;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

nav img {
  width: 2rem;
}

.navbar_logo {
  width: 7rem;
}

.navbar_button {
  background-color: transparent;
  border-radius: 9rem;
  border-color: #422c24;
}

.titleRules {
  text-decoration: underline;
  font-size: xx-large;
  font-weight: bold;
}

.rules {
  list-style: none;
}
.listRules {
  background-color: #ad1a1a;
  border-radius: 2rem;
  box-shadow: 10px 5px 5px #422c24;
}
