@font-face {
  font-family: "Virgil";
  src: url(./assets/font/Virgil.woff2) format("woff2");
}

body {
  padding: 0;
  margin: 0;
  font-family: "Virgil";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

/**Navbar**/

.navbar_nav {
  background-color: #ad1a1a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-shadow: 5px 5px 5px black;
}

nav img {
  width: 2rem;
}

.navbar_logo {
  width: 7rem;
}

.navbar_button {
  background-color: transparent;
  border-radius: 9rem;
  box-shadow: 5px 5px 5px black;
}

.App {
  background-image: url("./assets/img/background-wood.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

/*First Menu*/

.containerMenu {
  background-image: url("./Images/beer_bar.jpeg");
  background-size: cover;
  width: 200vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  min-height: 100vh;
}
.firstMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  max-width: 30rem;
  padding: 2rem;
  border-radius: 1rem;
  background-color: #422c24;
  box-shadow: 5px 5px 5px black;
  color: white;
}
.firstMenu label {
  font-size: xx-large;
  text-align: center;
}

.firstMenu label input {
  margin: 1rem;
}

.buttonFirstMenu {
  background-color: white;
  border-radius: 1rem;
  font-family: "Virgil";
  box-shadow: 5px 5px 5px black;
}
.buttonFirstMenu:hover {
  background-color: lightgrey;
}
.inputFirstMenu {
  font-family: "Virgil";
  border-radius: 1rem;
  text-align: center;
  font-size: 2rem;
  border: #422c24 solid;
}
button {
  font-size: calc(10px + 2vmin);
}

/*Rules*/
.titleRules {
  text-decoration: underline;
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
}
.rules {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.listRules {
  background-color: #422c24;
  border-radius: 2rem;
  position: fixed;
  top: 10rem;
  opacity: 0.85;
  color: white;
  z-index: 3;
  font-family: "Virgil";
  text-align: center;
}

.rules li {
  font-size: large;
}

@media screen and (min-width: 1200px) {
  .listRules {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
/* API Fetch */
.containertest {
  display: flex;
  flex-direction: center;
  align-items: center;
  gap: 1rem;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 20rem;
  max-width: 20rem;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 1rem;
  background-color: #ad1a1a;
  box-shadow: 5px 5px 5px black;
}
.card {
  width: 200px;
  height: 300px;
  border-radius: 1rem;
  background-color: #f4b324;
  box-shadow: #644a11 0px 1px 6px, #644a11 0px 0px 0px 3px;
  background-image: url("./Images/WildBeer.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card h1 {
  display: flex;
  justify-content: space-around;
  background-color: lightgrey;
  opacity: 0.7;
  border-radius: 1rem;
  color: black;
  text-align: center;
}
.card ul {
  background-color: lightgrey;
  opacity: 0.7;
  border-radius: 1rem;
}
.card ul li {
  list-style: none;
}
/*change card color*/
.card.blonde {
  background-color: #feba01;
  background-image: url("./Images/Beer-blonde.png");
}
.card.brunes {
  background-color: #a32800;
  background-image: url("./Images/Beer-brunes.png");
}
.card.ambre {
  background-color: #d24f01;
  background-image: url("./Images/Beer-ambre.png");
}
.card.noires {
  background-color: #1b0303;
  background-image: url("./Images/Beer-noir.png");
}
@media screen and (max-width: 800px) {
  .firstMenu {
    max-width: 20rem;
  }
  .inputFirstMenu {
    max-width: 18rem;
  }
}
