@font-face {
  font-family: "Virgil";
  src: url(./assets/font/Virgil.woff2) format("woff2");
}

body {
  padding: 0;
  margin: 0;
  font-family: "Virgil";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

/**Navbar**/

.navbar_nav {
  background-color: #ad1a1a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-shadow: 5px 5px 5px black;
}

nav img {
  width: 2rem;
}

.navbar_logo {
  width: 7rem;
}

.navbar_button {
  background-color: transparent;
  border-radius: 9rem;
  box-shadow: 5px 5px 5px black;
}

.App {
  background-image: url("./assets/img/background-wood.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

/*First Menu*/

.containerMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  min-height: 100vh;
}

.firstMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  max-width: 30rem;
  padding: 2rem;
  border-radius: 1rem;
  background-color: #422c24;
  box-shadow: 5px 5px 5px black;
  color: white;
}

.firstMenu label {
  font-size: xx-large;
  text-align: center;
}

.firstMenu label input {
  margin: 1rem;
}

.buttonFirstMenu {
  background-color: white;
  border-radius: 1rem;
  font-family: "Virgil";
  box-shadow: 5px 5px 5px black;
}

.buttonFirstMenu:hover {
  background-color: lightgrey;
}

.inputFirstMenu {
  font-family: "Virgil";
  border-radius: 1rem;
  text-align: center;
  font-size: 2rem;
  border: #422c24 solid;
}

button {
  font-size: calc(10px + 2vmin);
}

/*Rules*/

.titleRules {
  text-decoration: underline;
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
}

.rules {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  list-style-image: url("/2023-02-JS-Reims-project-2-wild-beer/frontend/src/Images/peanut1.png");
}

.listRules {
  background-color: #422c24;
  border-radius: 2rem;
  position: absolute;
  opacity: 0.85;
  color: white;
}

.rules li {
  font-size: large;
}

.navbar_button:hover {
  scale: 1.05;
  transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 800px) {
  .firstMenu {
    max-width: 20rem;
  }
  .inputFirstMenu {
    max-width: 18rem;
  }
}
